#! /usr/bin/python2.7
# -*- coding: utf-8 -*-

# CHANGE ME
basedir         = '.'
ASSEMBLY_ID     = 18
START_BILL      = 1
END_BILL        = 14762

# Caution: You probably don't want to change me
likms           = 'http://likms.assembly.go.kr/bill/jsp'
PAGE_SIZE       = 50            # number of bills in list page (for crawling)
ID_MULTIPLIER   = 100000        # bill_id's multiplier for ASSEMBLY_IDs
META_HEADERS    = ["bill_id","status","title","link_id","proposer_type","proposed_date","decision_date","decision_result","has_summaries","status_detail"]

DIR = {
    'meta'         : '%s/meta' % basedir,
    'data'         : '%s/json/%d' % (basedir, ASSEMBLY_ID),
    'list'         : '%s/html/list' % basedir,
    'summaries'    : '%s/html/summaries/%d' % (basedir, ASSEMBLY_ID),
    'specifics'    : '%s/html/specifics/%d' % (basedir, ASSEMBLY_ID),
    'proposers'    : '%s/html/proposers/%d' % (basedir, ASSEMBLY_ID),
    'withdrawers'  : '%s/html/withdrawers/%d' % (basedir, ASSEMBLY_ID)
}

BASEURL = {
    'list'         : likms + '/BillSearchResult.jsp?',
    'summary'      : likms + '/SummaryPopup.jsp?bill_id=',
    'specific'     : likms + '/BillDetail.jsp?bill_id=',
    'proposer_list': likms + '/CoactorListPopup.jsp?bill_id=',
    'withdrawers'  : likms + '/ReturnListPopup.jsp?bill_id='
}

X = {
    'columns'      : 'descendant::td',
    'spec_table'   : '//table[@width="940"]',
    'spec_entry'   : 'descendant::tr[@bgcolor="#EAF2ED"]/following-sibling::tr/td/div',
    'spec_status'  : '//td[@background="/bill/WebContents/BillDetail/circle_11.gif"]/text()',
    'spec_timeline': '//td[@bgcolor="#FEFFEF" and not(@id="SUMMARY_CONTENTS")]/table//tr',
    'spec_timeline_statuses'    : 'descendant::td[@width="59"]/node()',
    'spec_timeline_status_infos': 'descendant::td[@style="display:none"]/textarea/text()',
    'spec_title'   : '//td[@height="33" and @class="title_large"]/text()',
    'summary'      : '//span[@class="text6_1"]/text()',
    'proposers'    : '//td[@width="10%" and @height="20"]/text()',
    'table'        : '//table[@width="970"]//table[@width="100%"]//table[@width="100%"]//tr[not(@bgcolor="#DBDBDB")][position()>1]',
    'withdrawers'  : '//td[@width="10%" and @height="20"]/text()'
}
