#! /usr/bin/python2.7
# -*- coding: utf-8 -*-

# CHANGE/FILL ME
metadir = '.'
pdfdir = '.'
SESSION = 19

REDIS_SETTINGS = {
    'host': 'localhost',
    'port': 6379,
    'db': 0
}

QUEUE_NAMES = {
    'post_bills_twitter': 'post_bills_twitter',
    'post_bills_facebook': 'post_bills_facebook',
    'insert_bills_db': 'insert_bills_db',
}

TWITTER_CONSUMER_KEY = ""
TWITTER_CONSUMER_SECRET = ""

TWITTER_OAUTH_TOKEN = ""
TWITTER_OAUTH_TOKEN_SECRET = ""

FACEBOOK_PAGE_ID = ""

FACEBOOK_CLIENT_ID = ""
FACEBOOK_CLIENT_SECRET = ""

FACEBOOK_OAUTH_TOKEN = ""

# Caution: You probably don't want to change me
likms           = 'http://likms.assembly.go.kr/bill/jsp'
PAGE_SIZE       = 50            # number of bills in list page (for crawling)
META_HEADERS    = ["bill_id","status","title","link_id","proposer_type","proposed_date","decision_date","decision_result","has_summaries","status_detail"]
HTML_FIELDS     = ['specifics', 'proposers', 'withdrawers', 'summaries']

DIR = {
    'pdf'          : pdfdir + '/pdf',
    'meta'         : metadir + '/meta',
    'data'         : metadir + '/json',
    'list'         : metadir + '/sources/list',
    'summaries'    : metadir + '/sources/summaries',
    'specifics'    : metadir + '/sources/specifics',
    'proposers'    : metadir + '/sources/proposers',
    'withdrawers'  : metadir + '/sources/withdrawers'
}

BASEURL = {
    'list'         : likms + '/BillSearchResult.jsp?',
    'summaries'    : likms + '/SummaryPopup.jsp?bill_id=',
    'specifics'    : likms + '/BillDetail.jsp?bill_id=',
    'specifics_old': likms + '/BillDetailBudget.jsp?bill_id=',
    'proposers'    : likms + '/CoactorListPopup.jsp?bill_id=',
    'withdrawers'  : likms + '/ReturnListPopup.jsp?bill_id='
}

X = {
    'columns'      : 'descendant::td',
    'spec_table'   : '//table[@width="940"]',
    'spec_entry'   : 'descendant::tr[@bgcolor="#EAF2ED"]/following-sibling::tr/td/div',
    'spec_status'  : '//td[@background="/bill/WebContents/BillDetail/circle_11.gif"]/text()',
    'spec_timeline': '//td[@bgcolor="#FEFFEF" and not(@id="SUMMARY_CONTENTS")]/table//tr',
    'spec_timeline_statuses'    : 'descendant::td[@width="59"]/node()',
    'spec_timeline_status_infos': 'descendant::td[@style="display:none"]/textarea/text()',
    'spec_title'   : '//td[@height="33" and @class="title_large"]/text()',
    'summary'      : '//span[@class="text6_1"]/text()',
    'proposers'    : '//td[@width="10%" and @height="20"]/text()',
    'table'        : '//table[@width="970"]//table[@width="100%"]//table[@width="100%"]//tr[not(@bgcolor="#DBDBDB")][position()>1]',
    'withdrawers'  : '//td[@width="10%" and @height="20"]/text()'
}
